/* css here */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 0.9rem;
  padding: 4rem 8rem;
  height: 100vh;
}

@media (max-width: 768px) {
  body {
    padding: 20px;
  }
}

section {
  display: flex;
  margin: 0 auto;
  max-width: 800px;
}

@media (max-width: 768px) {
  section {
    display: block;
  }
}
